body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#0f172a;

    font-family:
    "Segoe UI Emoji",
    "Noto Color Emoji",
    Arial,
    sans-serif;
}